@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #5385c1;
    --grey: #bbb;
    --pink: #ff6098;
    --white: #fff;
    --black: #000;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: var(--grey);
}

.logo {
    color: var(--white);
    font-size: 1.3rem;
}

.fa-xmark, .fa-bars {
    display: none;
}

.container {
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1.hero {
    color: var(--white);
    font-weight: 100;
    font-size: 3rem;
}

p.hero-txt {
    color: var(--grey);
}

.btn {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: .6rem 1.4rem;
    font-size: 1.1rem;
}

.btn:hover {
    opacity: .9;
}

/* Header section */

.main-header {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 60vh;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

#main-nav a:hover {
    color: var(--white);
}

.header-content {
    text-align: center;
}

.header-content .header-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: 35vh;
}

/* What we do section */
.wwd {
    padding: 4.5rem 0;
    width: 100%;
}

.wwd-container {
    display: flex;
    justify-content: center;
}

.wwd .box {
    max-width: 380px;
    padding: 0 3rem;
}

.box h3 {
    color: var(--blue);
    line-height: 1.4;
    font-weight: 200;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.box p {
    color: var(--grey);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.box.middle-box {
    border-left: var(--grey) solid 1px;
}

.box.middle-box {
    border-right: var(--grey) solid 1px;
}