@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #5385c1;
    --grey: #bbb;
    --pink: #ff6098;
    --white: #fff;
    --black: #000;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: var(--grey);
}

.logo {
    color: var(--white);
    font-size: 1.3rem;
}

.fa-xmark, .fa-bars {
    display: none;
}

.container {
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1.hero {
    color: var(--white);
    font-weight: 100;
    font-size: 3rem;
}

p.hero-txt {
    color: var(--grey);
}

.main-header {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 60vh;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header-content {
    text-align: center;
}

.header-content .header-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: 35vh;
}