@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #5385c1;
    --grey: #bbb;
    --pink: #ff6098;
    --white: #fff;
    --black: #000;
    --light-grey: #bacee6;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: var(--grey);
}

.logo {
    color: var(--white);
    font-size: 1.3rem;
}

.fa-xmark, .fa-bars {
    display: none;
}

.container {
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1.hero {
    color: var(--white);
    font-weight: 100;
    font-size: 3rem;
}

p.hero-txt {
    color: var(--grey);
}

.btn {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: .6rem 1.4rem;
    font-size: 1.1rem;
}

.btn:hover {
    opacity: .9;
}

/* Header section */

.main-header {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 60vh;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

#main-nav a:hover {
    color: var(--white);
}

.header-content {
    text-align: center;
}

.header-content .header-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    height: 35vh;
}

/* What we do section */
.wwd {
    padding: 4.5rem 0;
    width: 100%;
}

.wwd-container {
    display: flex;
    justify-content: center;
}

.wwd .box {
    max-width: 380px;
    padding: 0 3rem;
}

.box h3 {
    color: var(--blue);
    line-height: 1.4;
    font-weight: 200;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.box p {
    color: var(--grey);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.box.middle-box {
    border-left: var(--grey) solid 1px;
}

.box.middle-box {
    border-right: var(--grey) solid 1px;
}

/* Team section */
.team {
    background-color: var(--blue);
    text-align: center;
    color: var(--white);
    padding: 5rem 0;
}

.team-header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 100;
}

.team p.team-txt {
    font-weight: 200;
    color: var(--light-grey);
}

.team-container {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
}

.team-box {
    padding: 3.2rem;
    border: var(--light-grey) solid 1px;
}

.team-box img {
    border-radius: 50%;
    margin-bottom: 2rem;
}

.team-box h3 {
    margin-bottom: 1.3rem;
    font-weight: 200;
    font-size: 1.6rem;
}

.team-box p {
    font-weight: 200;
    font-size: 1.1rem;
    color: var(--light-grey);
}

/* Showcase section */
.showcase {
    margin: 5rem 0;
    text-align: center;
}

.showcase-header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 100;
    color: var(--blue);
}

.showcase-txt {
    color: var(--light-grey);
    font-weight: 300;
}

.showcase-container {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 3.2rem;
}

.showcase-box {
    text-align: left;
    font-weight: 200;
    line-height: 1.4;
}

.showcase-box .showcase-img-box, .showcase-box h3, .showcase-box p {
    margin-bottom: 1.5rem;
}

.showcase-box h3 {
    font-weight: 200;
    color: var(--blue);
    font-size: 1.3rem;
}

.showcase-box p {
    font-size: .96rem;
}

/* Footer */
footer .social {
    padding: 2rem 0;
    border-top: var(--light-grey) solid 1px;
    display: flex;
    gap: 1.1rem;
    color: var(--blue);
}

footer .disclaimer {
    text-align: center;
    padding-bottom: 2rem;
}

footer .disclaimer p span {
    color: var(--blue);
    font-weight: 400;
    letter-spacing: .1rem;
}